.projects__content-wrapper{
    padding: 20px;
    width: 100%;
    &__project{
            display: flex;
          justify-content: center;
          align-content: center;
           padding-top: 70px;
            gap: 15px;
            margin-left: 0px;
           
            img{
                border: 3px solid var(--yellow-theme-sub-text-color);
                border-radius: 11px;
            }

            h3{
                    color: var( --yellow-theme-sub-text-color);
                    font-size: 22px;
                   
                    line-height: 1em;
                    letter-spacing: 1px;
                    margin-top: 30px;
                   text-align: center;
                    
            }
    }
    
    h1{
        
        color: var( --yellow-theme-sub-text-color);
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 1px;
        position: relative;
         text-transform: uppercase;
        padding: 3px 5px;
         border-bottom: 2px solid var(--yellow-theme-main-color);
       
    }

    h1::before, h1::after{
        position: absolute;
        content: "";
        width: 2px;
        height: 5px;
        background-color: var(--yellow-theme-main-color);
        bottom: -1px;
    }

    h1::before{
        left: 0;
    }

    h1::after{
        right: 0;
    }

    }

    
    

     @media only screen and (max-width:800px){
        .projects__content-wrapper{
           &__project{
            display: flex;
            flex-direction: column;
             }
            
        }
    }
